$blue: #b7e2fb;
$pink: #fecadc;
$minWidth: 800px;

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

p {
	margin: 1em 0;
}

a {
	color: #4c91ff;
	text-decoration: none;
	position: relative;

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 2px;
		background-color: #7cacf8;
		bottom: -2px;
		left: 0;
		transform: scaleX(0);
		transform-origin: left center;
		transition: transform 0.3s ease;
	}

	&:hover::after {
		transform: scaleX(1);
	}
}

table {
	border-collapse: collapse;
	td,
	th {
		border: 1px solid #ddd;
	}
}

.bg {
	position: fixed;
	z-index: -1000;
	pointer-events: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background-image: url(../img/bg1.webp) !important;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	margin: 0;
	font-family: "Chakra Petch", "Microsoft JhengHei", serif;
	font-size: 20px;
	background-size: cover;
	background: linear-gradient(45deg, #59c9f3, #eea3b2, #ffd384) no-repeat fixed center;
}

* {
	box-sizing: border-box;
}

main {
	max-width: 1000px;
	padding: 50px;
	background: rgba(#fff, 0.3);
	margin: 50px auto 30px;
	border-radius: 20px;
	backdrop-filter: blur(5px);

	@media (max-width: $minWidth) {
		padding: 15px;
		margin-top: 0;
		border-radius: 0;
	}

	header {
		text-align: center;
		img {
			width: 100%;
			max-width: 500px;
			height: auto;
		}
	}

	article {
		.need-text-indent {
			text-indent: 2em;
		}

		h1 {
			background: rgba(white, 0.05);
			backdrop-filter: blur(5px);
			margin: 30px -50px 30px -60px;
			border-left: 10px solid #ffa0f2;
			border-bottom: 1px solid #ffa0f2;
			padding: 10px;

			@media (max-width: 1050px) {
				margin: 30px -50px 30px -50px;
			}

			@media (max-width: $minWidth) {
				margin: 30px -15px 30px -15px;
			}
		}

		h2 {
			font-size: 25px;
			font-weight: bolder;
		}

		.urls {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: 20px 0;

			$pd: 15px;

			.item {
				flex: 1;
				background: rgba(#fff, 0.1);
				backdrop-filter: blur(10px);
				padding: $pd;
				position: relative;
				border-radius: 5000px;
				height: calc($pd + $pd + 80px);
				margin-bottom: 15px;

				&:nth-child(even) {
					margin-left: 7.5px;
				}
				&:nth-child(odd) {
					margin-right: 7.5px;
				}
				@media (max-width: $minWidth) {
					width: 100%;
					min-width: 100%;
					margin-left: 0;
					margin-right: 0;
				}

				&.item-full {
					flex: 100%;
					margin: 0 0 15px 0;
				}

				.left {
					position: absolute;
					img {
						width: 80px;
						height: 80px;
						border-radius: 500px;
						border: 2px solid rgba(#fff, 0.01);
					}
				}
				.right {
					padding-left: calc(80px + $pd);
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					height: 80px;
					p {
						margin: 0;
					}
					p:nth-child(1) {
						font-weight: bolder;
					}
				}
			}
		}

		.faq {
			.item {
				margin: 20px 0;
				.question {
					font-weight: bolder;
					display: block;
					color: #ff5000;
				}
				.answer {
					display: block;
					font-size: 0.8em;
					margin-top: 5px;
				}
			}

			&.faq-pink {
				.item .question {
					color: #ff368e;
				}
			}
		}
	}
}

footer.copyright {
	text-align: center;
	padding-bottom: 50px;
	font-size: 12px;

	@media (max-width: 1510px) {
		padding-bottom: 0px;
	}
}

footer.author {
	position: fixed;
	bottom: 0;
	right: 24px;
	text-align: right;
	font-size: 12px;
	color: #e91e63;
	padding: 10px 0;
	width: auto;

	p {
		margin: 4px 0;
	}

	@media (max-width: 1510px) {
		position: relative;
		text-align: center;
	}
}
